<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
  <%- include("partials/navBar") %>
    <div class="container">

      <div class="work-container">
      <img src="/assets/vidhaan.png" alt="" />
      <div class="work-body">
        <h1>Vidhaan</h1>
        <p>
          Vidhaan is an ai based Dashboard for the lawyers of University Grants
          Commission of India, here's a link to a prototype since we can't
          disclose the original website, use admin as username and vidhaan as
          password to login.
        </p>
        <div class="work-links">
          <a href="https://vidhaanweb.vercel.app/" target="_blank"
            >&lt;/&gt; website</a
          >
          <a href="https://github.com/Vidhaan-org/vidhaanweb" target="_blank"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <div class="work-container">
        <img src="/assets/opinco.png" alt="" />
      <div class="work-body">
        <h1>Opinco Website</h1>
        <p>
          Oplnco previously known as Devstucom represents Open Inclusive
          Collaborative was founded in year 2020. We as a community help our
          fellow students in building skills through direct discussions on
          advance topics of science and technology. We urge individual to
          contribute in open source.
        </p>
        <div class="work-links">
          <a href="https://opinco.vercel.app/" target="_blank"
            >&lt;/&gt; website</a
          >
          <a
            href="https://github.com/OpInCo-Community/OpInCo-Page"
            target="_blank"
            >GitHub</a
          >
        </div>
      </div>
    </div>

      <div class="work-container">
        <img src="/assets/nerdlog.png" alt="" />
        <div class="work-body">
          <h1>Nerdlog</h1>
          <p>
            This is full-stack <strong>MERN</strong> app with firebase authentication. This app is a community blogging app like <a href="dev.to">DEV Community</a>
          </p>
          <div class="work-links">
            <a href="https://dew-nerdlog.herokuapp.com" target="_blank">&lt;/&gt; website</a>
            <a href="https://github.com/dewanshDT/nerdlog" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="work-container">
        <img src="/assets/moneymate.png" alt="" />
        <div class="work-body">
          <h1>Money Mate</h1>
          <p>
            This is full-stack <strong>MERN</strong> app with authentication. This app is made to allow the user to keep track of there income and expences.
          </p>
          <div class="work-links">
            <a href="https://money-mate.herokuapp.com" target="_blank">&lt;/&gt; website</a>
            <a href="https://github.com/dewanshDT/money-mate" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="work-container">
        <img src="/assets/pokedex.png" alt="" />
        <div class="work-body">
          <h1>Pokedex</h1>
          <p>
            This is a pokedex app made with <strong>ReactJS</strong> and
            <strong>Pokeapi.co</strong>. This app uses <strong>axios</strong> library to fetch the data from pokeapi and
            displays it in beautiful UI with pagination and search functionality.
          </p>
          <div class="work-links">
            <a href="https://dewanshdt.github.io/pokedex/" target="_blank">&lt;/&gt; website</a>
            <a href="https://github.com/dewanshDT/pokedex" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="work-container">
        <img src="/assets/firegallery.png" alt="" />
        <div class="work-body">
          <h1>Fire Gallery</h1>
          <p>
            This is a gallery app made with <strong>ReactJS</strong> and
            <strong>Firebase</strong> where anyone can upload images.
          </p>
          <div class="work-links">
            <a href="https://dewanshdt.github.io/firegallery/" target="_blank">&lt;/&gt; website</a>
            <a href="https://github.com/dewanshDT/firegallery" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="work-container">
        <img src="/assets/breaking-bad.png" alt="" />
        <div class="work-body">
          <h1>Breaking Bad Website</h1>
          <p>
            This a website made with <strong>ReactJS</strong> and
            <strong>breaking-bad-api</strong> where anyone can find details about their favourite characters in the TV
            show.
          </p>
          <div class="work-links">
            <a href="https://dewanshdt.github.io/breaking-bad/">&lt;/&gt; website</a>
            <a href="https://github.com/dewanshDT/breaking-bad">GitHub</a>
          </div>
        </div>
      </div>

        <% codepenData.forEach(({ title, discription, codepenURL, authorURL, openTabs, dataSlugHash })=> { %>
          <div class="codepen-container">
            <h1>
              <%= title %>
            </h1>
            <h4>
              <%= discription %>
            </h4>
            <p class="codepen" data-height="400" data-theme-id="dark" data-default-tab=<%=openTabs%>
              data-user="dewanshdt" data-slug-hash=<%= dataSlugHash %> style="height:
                395px; box-sizing: border-box; display: flex; align-items: center;
                justify-content: center; border: 2px solid; margin: 1em 0; padding:
                1em;" data-pen-title="Snake">
                <span>See the Pen
                  <a href="https://codepen.io/dewanshdt/pen/<%= dataSlugHash %>">
                    Snake</a>
                  by dewanshDT (<a href="https://codepen.io/dewanshdt">@dewanshdt</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
          </div>
          <% }) %>
      </div>

      <%- include("partials/foot") %>

</html>